.home {
    width: 100%;
    height: 100vh;  
    display: flex;
    margin-bottom: 50px;
   
    
}



.home-left-container {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.home-right-container {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;  

    .home-right-countdown {
        display: flex;
        flex-direction: column; 
        justify-content: center;
        align-items: center;
    }
}

.home-dhanus-text-primary {
  font-size: 10vw;
  line-height: 1em;
  font-weight: 800;
  outline: none;
  background: linear-gradient(135deg, #5335cf 0%, #de005e 25%, #f66e48 50%, #de005e 75%, #5335cf 100%);
  background-size: 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  animation: animate 10s linear infinite;
}
  @keyframes animate {
    to{
        background-position: 400%;
  }
}

.home-dhanus-text-secondary {
    color: rgb(147, 147, 147);
    font-weight: 400;
    font-size: 0.8em;

    span {
        font-size: 1.4em;
    }
}

.home-down-arrow {
    position: absolute;
    color: rgb(224, 224, 224);
    font-size: 4em;
    bottom: 20px;
    left: 47%;
    transform: translate(-50%, 50%);
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }

@media only screen and (max-width: 920px) {

    .home-left-container {
        height: 100vh;
        width: 100%;
        padding: 20px;
    }

    .home-right-container {
        width: 100%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, 50%);
    }

    .home-dhanus-text-primary {
        font-size: 19vw;
        margin-top: -200px;
    }
}

@media only screen and (max-width: 500px) {
    .home {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    .home-left-container {
        height: 100vh;
        width: 100%;
        padding: 20px;
    }

    .home-right-container {
        width: 100%;
        position: absolute;
        left: 50%;
        top: 48%;
        transform: translate(-50%, 50%);
    }

    .home-dhanus-text-primary {
        font-size: 19vw;
        margin-top: -200px;
    }

    .home-down-arrow {
        left: 44%;
    }
}